{% extends 'navbar.html' %}

{% block title %}Play Classic Slots{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/classicslots.css' %}">

    <div class="container">

        <div id="doors">
            <div class="door"></div>
            <div class="door"></div>
            <div class="door"></div>
        </div>

        <div id="game-controls">
            <div id="modify-bet-div">
                <button id="subtract" class="bettingBtns">-</button>
                <h3 id="betDisplay">$0</h3>
                <button id="add" class="bettingBtns">+</button>
            </div>

            <div id="previous-win-div">
                <h3 id="prevWinLabel">Win: $</h3>
                <h3 id="prevWinDisplay">0.00</h3>
            </div>

            <button id="max-bet-btn" class="bettingBtns">Max Bet</button>
            <button id="spin-btn">Spin</button>
        </div>
    </div>

    <script src="{% static 'scripts/classicslots.js'%}"></script>
{% endblock %}