{% extends 'navbar.html' %}

{% block title %}Play Slots{% endblock %}

{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'styles/slots.css' %}">
    
    <div class="container" id="game">
        <div id="doors">
            <div class="door"></div>

            <div class="door"></div>

            <div class="door"></div>

            <div class="door"></div>

            <div class="door"></div> 
        </div>

        <div id="game-controls">
            <div id="modify-bet-div">
                <button id="subtract" class="bettingBtns">-</button>
                <h3 id="betDisplay">$0</h3>
                <button id="add" class="bettingBtns">+</button>
            </div>

            <div id="previous-win-div">
                <h3 id="prevWinLabel">Win: $</h3>
                <h3 id="prevWinDisplay">0.00</h3>
            </div>

            <button id="max-bet-btn" class="bettingBtns">Max Bet</button>
            <button id="spinBtn">Spin</button>
        </div>
    </div>


    <script src="{% static 'scripts/slots.js' %}"></script>

    <meta name="csrf-token" content="{{ csrf_token }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var csrfToken = document.querySelector('[name="csrf-token"]').content;

        $.ajaxSetup({
            headers: {
                'X-CSRFToken': csrfToken
            }
        });

        window.localBalance = {{ user.balance }}

        window.urlObj = {
            updatedBalance: "{% url 'update_balance' %}"
        }

        function updateBalanceField(newBalance){
            var data = {'newBalance': newBalance};
            $.post(urlObj.updatedBalance, data, function(response){
                if (response.status === 'success'){
                    localBalance = response.newBalance;
                }
            });
        }
    </script>

    <style>
        body {
            background-image: url("{% static 'images/slots/cartoon-forest-background-1920-x-1080-0xhrzw9zvozynyqh.jpg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }        
    </style>
{% endblock %}