body {
    background: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-evenly;
    font-weight: bold;
    background: #f3f3f3;
    padding: 10px;
}

.home-buttons{
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px 10px;
    background-color: rgba(241, 172, 11, 0.926);
}

.home-buttons:hover{
    background-color: rgba(200, 143, 11, 0.926);
}

.home-links{
    text-decoration: none;
    font-size: 1rem;
    transition: 250ms;
}

.home-links:hover{
    text-decoration: underline white;
    text-decoration-thickness: 2px;
}

.home-links:visited{
    color: white;
}

.game-btns {
    border: none;
    border-radius: 25px;
    transition: 150ms;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    min-width: 370px;
    min-height: 200px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.game-btns:hover {
    scale: 1.05;
    outline: 3px solid gold;
    outline-offset: 5px;
    animation: borderOutlineGrowing 2s ease-in-out infinite;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    width: 90%;
}

footer {
    display: flex;
    color: grey;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: 25px 0;
}

#about-link:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

#popular-games-title {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Lucida Sans Unicode';
    margin-left: -500px;
}

@keyframes borderOutlineGrowing {
    0%,
    100% {
        outline-offset: 0px;
    }

    50% {
        outline-offset: 7px;
    }
}