{% extends 'navbar.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container">

        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show navbar-item" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %} 
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show navbar-item" role="alert">
                Error In Registration
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <h1>Register</h1>

        <form action="{% url 'register_user' %}" method="POST">
            {% csrf_token %}
            {{ form }}
        </form>
    </div>

    
{% endblock %}