{% block title %}Login{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/register.css' %}">

    <div class="container" id="container">

        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show navbar-item" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %} 
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show navbar-item" role="alert">
                Error In Registration
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <h1>Register</h1>

        <form action="{% url 'register_user' %}" method="POST">
            {% csrf_token %}
            <br/>
            {{ form }}
            <br/>
            <input class="button" type="submit" value="Register">
        </form>
        <br/>
        <a href="{% url 'home' %}">
            <button class="button">Home</button>
        </a>
    </div>

    <style>
        body {
            padding: 0;
            margin: 0;
            background-image: url("{% static 'images/1142771-3840x2160-desktop-4k-poker-wallpaper-image.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    
{% endblock %}